* {
    margin: 0;
    padding: 0;
 
    }
body{
    font-family: sans-serif;
   
}
.container{
    max-width:1140px;
    margin:0 auto;
   
}
.card-box {
    display:flex;
  
        display: flex;
      
        justify-content:space-between;
        padding: 64px 0;
  
   
}
.card{
    width:359px;
    padding:44px 32px ;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.top{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    list-style-type: none;
    padding-top:42px;
}
.top_box{
    display:flex;
    flex-direction:column ;
    height:100%;
   
}
.top_heading{
    font-size: 64px;
    color: #1f3f68;
    width:510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;

}
.top_info{
    padding-top: 115px;
    flex-grow: 1;
    background-image:url(img/top_back.png) ;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.top_text{
    width:425px;
}
.top_button, .bottom_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
    box-sizing: border-box;
}



.text{
    font-size: 1em;
    line-height: 26px;
    color:#1f3f68;
    letter-spacing: 0.04cm;
    opacity: 0.6;
}
.text_project{
    width: 75%;
    margin: 32px auto 64px;
    color:#222;
    opacity:1;
    text-align: center;
}
.what-we-do{
    padding-top: 64px;
 
}
.heading{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05cm;

}
.heading-mini{
    font-size: 20px;
    line-height: 30px;
    color:#1f3f68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;

}
.main{
    display: flex;
}
.project{
    margin-bottom: 112px;
}
 .project_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

} 

.project_item{
    position: relative;
     flex-grow: 1; 

}
 .project_item_margin{
    margin-right:32px;
} 
.project_img{
    width:100%;
}
.project_text{
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFF;
    top: 64px;
    right: 64px;

}


.project_text2{
    position: absolute;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFF;
    top: 32px;
    left:32px;

}

.input-text{
    width:410px;
    height: 70px;
    margin-top: 8px;
    margin-bottom: 30px;
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.area{
    height: 140px; 
}
.button-submit{
    width:410px;
    height:70px;
    margin-top:70px;
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16,112,177,0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 1em;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.card-holder2{

    padding: 78px 0 96px;
    display: flex;
    justify-content: space-around ; 
}




.c-card{
    width: 510px;
    height: 800px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding:0 35px;
}
.card_img{
    align-self: center;
    margin-bottom: 51px;
}

.ucase{
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 24px;
}
.contacts-info{
    box-shadow:none;
}
.contact_detail2{
    list-style-type: none;
}
.map{
    width:90%;
    margin: 0 auto;
}
.crd_data{
    margin-bottom:16px ;
    font-size: 1em;
    line-height: 36px;
    color:#1f3f68 !important;
    letter-spacing: 0.04cm;
    opacity: 0.6;   
}
.footer{
    background: #316099;
    color:#fff;
    padding-bottom: 64px;
}
.footer_top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:91px 0;
}
.footer_heading{
    width:341px;
    text-align: left;
}

.footer_par{
    max-width:495px;
    text-align: left; 
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    margin-top: 32px;
} 
 .footer_bottom{
     padding-top: 64px;
 }   



.footer_info{
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}
.footer_copy{
  margin-top: 64px; 

}
.white{
    color:#fff;
}
.top_box{
    margin-top: 60px;
}
.contact_header{
    
   margin-top: 60px;
   padding-top: 30px;
   padding-bottom: 40px;
    background-image: url("img/bubbles.png") ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.heading_contacts{
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.text_contact_top{
    margin: 16px auto 0;
    max-width:780px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

@media (max-width:1024px) {
    .card{
        margin-bottom:32px ;
    }
    #send_us{
        width:100px;
        box-sizing: border-box;
    }
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .top_info{
        background-position-x: right 280px;
    }

    .card-box {
        flex-direction: column;
        align-items: center;
    }
    .c-card{
        margin-bottom:32px ;
    }
    .footer_info{
        flex-direction: column;
        align-items: top;
    }
    .footer_text{
       width:336px; 
    }
    .footer_top{
        padding: 47px 92px 64px;
        display:flex;
        align-items: flex-start;
    }
    .bottom_button{
        padding:10px 25px;
        border-radius: 0; ;
        text-decoration: none;
        margin-top:120px ;
    }
    .footer_bottom{
        padding: 47px 92px 0px ;
        display: flex;
        flex-direction: column;
        align-items: top;
    }
   
    .text_contact_top{
        max-width:520px;
    } 
    .card-holder2{
        flex-direction: column;
        align-items: center;

    }
    .map{
        width:100%;
    }
   
}

@media(max-width:768px){
   
    .card{
        width:100%;
    }
.header{
    padding-top: 24px;
}
.top{
    min-height: 376px;
    padding-bottom: 41px;
}
.top_info{
    padding-top: 36px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    box-sizing: border-box;
}


.top_heading{
    width:100%;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    margin-bottom: 12px;
   
}
.top_text{
   width:100% ;
   text-align: center;
}
.top_button{
    font-size: 12px;
    line-height:26px ;
    padding:0 8px;
}
.heading{
    font-size: 24px;
    line-height:28px ;
}
.card-box{
    padding-top: 32px;
}

.what-we-do{
    padding-top:48px ;
}
.text_project{
    width:100%;
}
.project_text{
    font-size: 1em;
    line-height: 19px;
    top:16px;
    right: 16px;
}
.project_text2{
   left: 16px;
   font-size: 16px;
    line-height: 19px;

}
.project_parent{
   flex-direction: column;
   margin-top: 16px; 
}
.project_item_margin{
    margin:0;
}
.footer{
    padding-bottom: 32px;
}
.footer_top{
    padding:18px 0 32px;
    flex-direction: column;
    align-items: center; 
}
 
.footer_heading{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.footer_par{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.bottom_button{
    margin-top: 40px;
}
.footer_bottom{
    padding: 0 ;

}
.footer_info{
    padding:0;
}

.footer_par {
    text-align: left;
    line-height: 17px;
}

.footer_copy {
    margin-top: 37px;
    text-align: center;
}

.heading_contacts{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;

}
.text_contact_top{
    max-width:341px;
    font-size: 16px;
    line-height: 30px;
} 

.c-card{
    width: 340px;
    padding :0 40px;
    
}
.input-text{
    width:270px;
    height: 46px;
    margin-top: 8px;
    margin-bottom: 30px;
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.area{
    height: 92px; 
}
#send_us{
    width:217px; 
  
    font-size: 16px;
    line-height: 30px;
  
 
}
.contacts-info{
    padding-bottom: 0;
}

.button-submit{
    width:270px;
    height:42px;
    margin-top:42px;
}